name: GOTK3Adapter CI

on: [push, pull_request]

jobs:
  test-linux:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        go: [ '1.19', '1.18', '1.17', '1.16', '1.15' ]

    name: Test go-${{ matrix.go }} (Linux)
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: install OS dependencies
        run: sudo apt-get update && sudo apt-get install libgtk-3-dev gettext libglib2.0-dev libc6-dev-i386 xvfb
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - name: build
        run: make

  notify-test:
    name: Notify on success or failure of test
    needs: test-linux
    runs-on: ubuntu-20.04
    if: always()
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - uses: technote-space/workflow-conclusion-action@v1
      - uses: coyim/coyim/.github/actions/ci-conclusion-message@main
        id: message-generator
        with:
          status: ${{ env.WORKFLOW_CONCLUSION }}
          commit_id: ${{ github.sha }}
          commit_message: ${{ github.event.head_commit.message }}
      - name: send message to Matrix on conclusion
        uses: olabiniV2/matrix-message@v0.0.1
        with:
          room_id: ${{ secrets.MATRIX_COYIM_ROOM_ID }}
          access_token: ${{ secrets.MATRIX_ACCESS_TOKEN }}
          server: ${{ secrets.MATRIX_SERVER }}
          subject: ${{ steps.message-generator.outputs.subject }}
          message: ${{ steps.message-generator.outputs.message }}
